.color{
    color:coral;
}
a:hover{
    background-color:magenta;
}

    

.btn2{
    height: 45px ;
    width: 100px;
    background:coral ;
    margin-left: -10px;
    border: 5px solid white;
    font-weight: 600;
    border-radius: 5px;
}

.news input{
    height: 45px;
    width: 55%;
    border: 2px solid white;
    outline: none;
    background: black;
    color: white;
    margin-top: 20px;
    font-weight: 600;
}
.news::placeholder{
    color: white;
}

.news{
    background-color: black;
    margin-top: 50px;
    color: white;
}

.news p{
    margin-left:20px;
}
.news h5{
    margin-left: 15px;
}

.fab{
    font-size: 2.5rem;
    cursor: pointer;
    padding-right: 5px;
}
.fas{
    color: black;
}